.admin
  = render :partial => "/users/header"
  .admin-container
    .top
      %h1 New Video
    =form_for @work do |f|
      =f.hidden_field :type_id, :value => @type_id
      %table
        %tr
          %td Name
          %td=f.text_field :name, :placeholder => "An Echo in the Bone"
        %tr
          %td Director
          %td=f.text_field :director, :placeholder => "Timmia Hearn"
        %tr
          %td Video URL
          %td=f.text_field :video_url, :placeholder => "youtube.com"
        %tr
          %td Description
          %td=f.text_area :description
        %tr
          %td
          %td= f.submit