.admin
  = render :partial => "/users/header"
  .admin-container
    .top
      %h1 New Photo
    =form_for @work do |f|
      =f.hidden_field :type_id, :value => @type_id
      %table
        %tr
          %td Name
          %td=f.text_field :name, :placeholder => "An Echo in the Bone"
        %tr
          %td Photographer
          %td=f.text_field :director, :placeholder => "Timmia Hearn"
        %tr
          %td Description
          %td=f.text_area :description
        %tr
          %td Photo
          %td=f.file_field :image
        %tr
          %td
          %td= f.submit