.admin
  = render :partial => "/users/header"
  .admin-container
    .top
      %h1 Edit Static Page
    =form_for @static do |f|
      %table
        %tr
          %td Paralink
          %td=f.text_field :paralink
        %tr
          %td Content
          %td=f.text_area :content
        %tr
          %td
          %td=f.submit