<div class="contact">
  <div class="left">
    <img src="/assets/background/2.jpg"/>
  </div>
  <div class="right">
    <h5>Please contact Winston Duke at any time...</h5>
    <table>
      <tr>
        <td class="type">Email</td>
        <td><a href="mailto:wcduke@gmail.com">wcduke@gmail.com</a></td>
      </tr>
      <tr>
        <td class="type">Phone</td>
        <td>(585) 576-7985</td>
      </tr>
    </table>
  </div>
</div>