<div class="resume">
  <h5>Theatre</h5>
  <table>
    <tr>
      <td class="name">An Echo in the Bone</td>
      <td class="role">Son-Son</td>
      <td class="studio">Trinidad Theater Workshop, Timmia Hearn</td>
    </tr>
    <tr>
      <td class="name">The Winter’s Tale</td>
      <td class="role">Dion/Ensemble (U/S)</td>
      <td class="studio">Yale Repertory Theater, Liz Diamond</td>
    </tr>
    <tr>
      <td class="name">Three Sisters</td>
      <td class="role">Chebutykin (U/S)</td>
      <td class="studio">Yale Repertory Theater, Les Waters</td>
    </tr>
    <tr>
      <td class="name">The Piano Lesson</td>
      <td class="role">Wining Boy (U/S)</td>
      <td class="studio">Yale Repertory Theater, Liesl Tommy</td>
    </tr>
    <tr>
      <td class="name">Lit 401</td>
      <td class="role">“C “ : the inner conscience</td>
      <td class="studio">Manhattan Reparatory Theater, New York, NY, Drew Piatek</td>
    </tr>
    <tr>
      <td class="name">To Kill A Mockingbird</td>
      <td class="role">Courtroom ensemble</td>
      <td class="studio">Studio Arena Theater, Scott Behrend</td>
    </tr>
  </table>
  <h5>University</h5>
  <table>
    <tr>
      <td class="name">The Island</td>
      <td class="role">Winston</td>
      <td class="studio">Yale Cabaret, Kate Attwell</td>
    </tr>
    <tr>
      <td class="name">All Which Way and That</td>
      <td class="role">Capitano, Ensemble</td>
      <td class="studio">Yale School Of Drama, Christopher Bayes</td>
    </tr>
    <tr>
      <td class="name">Iphigenia</td>
      <td class="role">Menelaus</td>
      <td class="studio">Yale School of Drama, Jack Tamburri</td>
    </tr>
    <tr>
      <td class="name">Fox Play</td>
      <td class="role">Gary</td>
      <td class="studio">Yale school of Drama, Lilliana Blain-Cruz</td>
    </tr>
    <tr>
      <td class="name">King Lear</td>
      <td class="role">Gloucester, Ensemble</td>
      <td class="studio">Yale School of Drama, Ensemble Created</td>
    </tr>
    <tr>
      <td class="name">Antony &amp; Cleopatra</td>
      <td class="role">Agrippa</td>
      <td class="studio">Yale School of Drama, Margot Bordelon</td>
    </tr>
    <tr>
      <td class="name">The Seagull</td>
      <td class="role">Shamraev</td>
      <td class="studio">Yale School of Drama, Alexandru Mihail</td>
    </tr>
    <tr>
      <td class="name">Outlaw Jean</td>
      <td class="role">Friar Weasel</td>
      <td class="studio">Yale school of  Drama, Jack Tamburri</td>
    </tr>
    <tr>
      <td class="name">BlackTop Sky</td>
      <td class="role">Wynn</td>
      <td class="studio">Yale School of Drama, Devin Brain</td>
    </tr>
    <tr>
      <td class="name">She Rode Horses Like The Stock Exchange</td>
      <td class="role">Henry</td>
      <td class="studio">Yale School of Drama, Jack Tamburri</td>
    </tr>
    <tr>
      <td class="name">The Exonerated</td>
      <td class="role">Delbert Tibbs</td>
      <td class="studio">University at Buffalo-SUNY, Fortunato</td>
    </tr>
    <tr>
      <td class="name">Twelfth Night</td>
      <td class="role">Captain, Priest</td>
      <td class="studio">University at Buffalo-SUNY, Robert Knopf</td>
    </tr>
    <tr>
      <td class="name">The Cherry Orchard</td>
      <td class="role">Lopakhin</td>
      <td class="studio">University at Buffalo-SUNY, Kazimierz Braun</td>
    </tr>
  </table>
  <h5>Film</h5>
  <table>
    <tr>
      <td class="name">Saeculum</td>
      <td class="role">Averitas</td>
      <td class="studio">Blacklight Studios</td>
    </tr>
  </table>
  <h5>Training</h5>
  <table>
    <tr>
      <td class="name">University of Buffalo-SUNY</td>
      <td class="role">B.A.</td>
      <td class="studio">Stephen Henderson, Robert Knopf, Greg Natale</td>
    </tr>
    <tr>
      <td class="name">Yale School of Drama</td>
      <td class="role">M.F.A<br/>Acting<br/>Voice Training<br/>Speech/Dialect<br/>Alexander Technique<br/>Stage Combat<br/>Movement<br/>Clown</td>
      <td class="studio"><br/>Ron Van lieu, Evan Yionoulis<br/>Walton Wilson, Grace Zandarsky<br/>Jane Guyer, Beth McGuire<br/>Jessica Wolf, Gwen Ellison<br/>Rick Sordelet<br/>Faye Simpson, Erica Faye, Thomas Richards<br/>Jane Nichols, Chris Bayes</td>
    </tr>
  </table>
  <h5>Special Skills</h5>
  <div class="skills">Wrestler, Host, Comedic Writer, Southern Caribbean Accent (Trinidad and Tobago), Jamaican, Columbian Accent, South African (Zulu), Urban African American, Western Irish, American Southern (more available upon request)</div>
  <div class="link-container">
    <a class="resume-link" href="/resume.pdf" target="_blank">Download PDF Version</a>
  </div>
</div>
    
    