<div class="gallery-works">
  <div class="arrow" id="left"></div>
  <div id="selected"></div>
  <div class="arrow" id="right"></div>
  <div id="slideshow"></div>
</div>
<div id="expanded-image">
  <div class="arrow" id="left"></div>
  <div class="background" id="image"></div>
  <div class="arrow" id="right"></div>
</div>