<div class="header">
  <!-- <a href="#"> -->
  <div class="header-container"><h1 class="out">Winston Duke</h1></div>
  <div class="background-container"></div>
  <!-- </a> -->
  <div class="nav">
    <a href="#" data-param="home" class="nav-link">Home</a>
    <a href="#about" data-param="about" class="nav-link">About</a>
    <a href="#resume" data-param="resume" class="nav-link">Resume</a>
    <a href="#works" data-param="works" class="nav-link">Works</a>
    <a href="#gallery" data-param="gallery" class="nav-link">Gallery</a>
    <a href="#press" data-param="press" class="nav-link">Press</a>
    <a href="#contact" data-param="contact" class="nav-link">Contact</a>
  </div>
</a>
<div class="static"></div>