<!-- Header -->
<div class="header <%= state == 'closed' ? state: '' %>">
  <div class="background-container" style="background-image: url('<%= image %>')"></div>
  <h1>Winston Duke</h1>
  <!-- Navigation Bar -->
  <div class="nav">
    <a href="#" data-param="home" class="nav-link">Home</a>
    <a href="#about" data-param="about" class="nav-link">About</a>
    <a href="#resume" data-param="resume" class="nav-link">Resume</a>
    <a href="#works" data-param="works" class="nav-link">Works</a>
    <a href="#gallery" data-param="gallery" class="nav-link">Gallery</a>
    <a href="#press" data-param="press" class="nav-link">Press</a>
    <a href="#contact" data-param="contact" class="nav-link">Contact</a>
  </div>
</div>
<!-- Pages -->
<div class="container"></div>