<div class="filter">
  <h5>Search Works</h5>
  <form id="search">
    <input id="text" placeholder="Winston..."/>
    <input type='submit' value="&rarr;"></input>
  </form>
  <button id="clear">Clear Search</button>
</div>
<div class="works">
  <div class="column" data-id="0"></div>
  <div class="column" data-id="1"></div>
  <div class="column" data-id="2"></div>
  <div class="column" data-id="3"></div>
</div>